* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  


body {
    font-family: 'Lora', serif;
    src: url("./assets/fonts/static/Lora-Regular.ttf");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  header {
    background-color: #a09494;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
    line-height: 50px;
      }
  

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
 
  section h2 {
    margin-bottom: 10px;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section ul li {
    margin-bottom: 5px;
  }
  

 
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  section p {
    line-height: 1.5;
  }
  
 
  footer {
    background-color: #a09494;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .github {
    text-decoration: none;
    color: #333;
  }

  .rss {
    display: flex;
    width: 121px;
    height: 45px;
    background-image: url("./assets/img/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
}